<div class="data-type-chooser-modal" data-cookie="{{cookieName}}">
	<div class="modal-header">
		<h3><i class="fa fa-refresh"></i> 
			Data Types
		</h3>
	</div>
	<div class="modal-body">
		<chooser-data-type selected="selectedDataTypes" available="availableDataTypes" modal-context="modalContext"></chooser-data-type>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="save()">OK</button>
		<button class="btn btn-primary" ng-click="cancel()" type="reset">Cancel</button>
	</div>
</div>	