<div id="cell-note">
	<div class="short-note">{{ shortNote }}</div>
	<div class="note">{{ note }}</div>
	<div class="controlls">
		<a id="show-full-note" href="javascript:void(0);" ng-click="showFullNote()">Show more</a>
		<a id="hide-full-note" href="javascript:void(0);" ng-click="hideFullNote()">Hide more</a>
	</div>
	<div class="clearfix"></div>
	<div id="note-attachment-in-cell"></div>
	<div class="close-note">
		<a id="hide-full-note" href="javascript:void(0);" ng-click="closeNote()">
			<span class="close">&times;</span>
		</a>
	</div>
</div>