<div class="user-role-chooser" data-cookie="{{cookieName}}">
	<div class="modal-header">
		<h3>
			Roles
		</h3>
	</div>
	<div class="modal-body">
		Available roles:
		<div class="fc-roles">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="clickable" ng-click="orderBy = ''; reverse=false">#</th>
						<th class="clickable" ng-class="{sorted: orderBy == 'roleVisId', desc: reverse}" ng-click="orderBy = 'roleVisId'; reverse=!reverse">Role</th>
						<th class="clickable" ng-class="{sorted: orderBy == 'roleDescription', desc: reverse}" ng-click="orderBy = 'roleDescription'; reverse=!reverse">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{selected: selectedRole.roleId == role.roleId}" ng-repeat="role in collectionRoles | orderBy:orderBy:reverse" ng-click="choose(role)">
						<td>{{$index+1}}</td>
						<td title="Role">{{role.roleVisId}}</td>
						<td title="Description">{{role.roleDescription}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="ok()" type="reset">OK</button>
		<button class="btn btn-primary" ng-click="cancel()" type="reset">Cancel</button>
	</div>
</div>
