<div class="flat-forms-export" data-cookie="{{cookieName}}">
	<div class="modal-header" >
		<h3><i class="fa fa-file"></i>
			Meta Data Export
		</h3>
	</div>
	<div class="modal-body">
		<flat-form-chooser 
			selected="selectedFlatForms" 
			available="availableFlatForms" 
			info="modalInfo" 
			is-finance-cube-column="isFinanceCubeColumnVisible" 
			is-last-updated-column="isLastUpdatedColumnVisible" 
			modal-context="modalContext"
		></flat-form-chooser>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="exportFlatForms()">Export</button>
		<button class="btn btn-primary" ng-click="close()">Close</button>
	</div>
</div>