<div id="context-menu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li role="presentation" id="show-notes-contextmenu"><a role="menuitem" tabindex="-1" href="#" ng-click="showNotes()">Manage notes</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" href="#" ng-click="showCellStatusModal()">Show cell status</a></li>
        <li role="presentation"><a role="menuitem" href="#" ng-click="showFinanceSystemCellModal()">Show finance system cell data</a></li>
    </ul>
</div>