<div class="recalculate-batch" ng-controller="RecalculateBatchController">
	<h1 class="text-center">Batch Recalculate</h1>

	<wj-flex-grid class="grid" items-source="ctx.data" selection-changed="selectionChangedHandler()" control="ctx.flex" resized-column="resizedColumn(s,e)" sorted-column="sortedColumn(s,e)">
		<wj-flex-grid-column header="#" name="index" binding="recalculateBatchId"></wj-flex-grid-column>
		<wj-flex-grid-column header="Identifier" binding="recalculateBatchVisId"></wj-flex-grid-column>
		<wj-flex-grid-column header="Description" binding="recalculateBatchDescription"></wj-flex-grid-column>
		<wj-flex-grid-column header="Model ID" binding="model.modelVisId"></wj-flex-grid-column>
		<wj-flex-grid-column min-width="190" header="Actions" name="buttons"></wj-flex-grid-column>
	</wj-flex-grid>	
</div>