<div class="data-types" ng-controller="HierarchiesBusinessController">
	<h1 class="text-center">Hierarchies Business</h1>
	
	<wj-flex-grid class="grid" items-source="ctx.data" selection-changed="selectionChangedHandler()" control="ctx.flex" resized-column="resizedColumn(s,e)" sorted-column="sortedColumn(s,e)">
		<wj-flex-grid-column header="#" name="index" binding="hierarchyId"></wj-flex-grid-column>
		<wj-flex-grid-column header="Model ID" binding="model.modelVisId"></wj-flex-grid-column>
		<wj-flex-grid-column header="Dimension ID" binding="dimension.dimensionVisId"></wj-flex-grid-column>
		<wj-flex-grid-column header="Hierarchy ID" binding="hierarchyVisId"></wj-flex-grid-column>
		<wj-flex-grid-column header="Description" binding="hierarchyDescription"></wj-flex-grid-column>
		<wj-flex-grid-column min-width="135" header="Actions" name="buttons"></wj-flex-grid-column>
	</wj-flex-grid>	
</div>
